/** variables*/
/**Mixin*/
/** General rules*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
footer p {
  font-family: "Orbitron", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

li {
  list-style: none;
}

#vanta-background {
  background-image: url("../images/background/bg-small.png");
  z-index: 0;
  position: fixed;
  height: 100vh;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  #vanta-background {
    background-image: url("../images/background/bg-big.png");
  }
}

main,
section {
  position: relative;
}

.main-container {
  position: absolute;
  top: 0;
  width: 100%;
}

/* Header and nav rules */
header {
  position: relative;
  min-height: 100vh;
}
header .header__nav ul {
  display: flex;
  justify-content: space-around;
  padding: 20px 10px;
}
header .header__nav ul li {
  font-size: 1rem;
  font-weight: bolder;
}
@media screen and (min-width: 375px) {
  header .header__nav ul li {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 768px) {
  header .header__nav ul li {
    font-size: 1.6rem;
  }
}
header .header__nav ul li a {
  font-family: "Orbitron", sans-serif;
}
header .header__info {
  position: relative;
  margin-top: 50vh;
  transform: translateY(-50%);
  text-align: center;
}
header .header__info .header__info__main {
  font-size: 3rem;
  padding: 10px 15px;
  color: rgba(255, 255, 255, 0.8);
}
@media screen and (min-width: 375px) {
  header .header__info .header__info__main {
    font-size: 3.5rem;
  }
}
@media screen and (min-width: 1200px) {
  header .header__info .header__info__main {
    font-size: 4rem;
  }
}
header .header__info .header__info__sub {
  font-size: 1.8em;
  padding: 20px 15px;
  color: rgba(255, 255, 255, 0.8);
}
@media screen and (min-width: 375px) {
  header .header__info .header__info__sub {
    font-size: 2.3rem;
  }
}
@media screen and (min-width: 1200px) {
  header .header__info .header__info__sub {
    font-size: 3rem;
  }
}
header .back__top {
  position: fixed;
  bottom: 2.5rem;
  right: 10px;
  font-size: 2rem;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  header .back__top {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1200px) {
  header .back__top {
    font-size: 4rem;
  }
}

/** Main container*/
.section {
  background: rgba(136, 136, 136, 0.05);
  backdrop-filter: blur(8px);
  margin: 0rem auto 5rem auto;
  padding: 1rem 1.5rem;
  /* border: 1px solid rgba(114, 1, 134, 0.18); */
  /* box-shadow: 0 8px 32px 0 rgba(46, 46, 46, 0.37); */
}
@media screen and (min-width: 768px) {
  .section {
    width: 80%;
    border-radius: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    width: 70%;
    border-radius: 30px;
  }
}

.section__presentation .presentation__section__title {
  font-size: 1.3rem;
  padding-left: 0.8rem;
}
@media screen and (min-width: 375px) {
  .section__presentation .presentation__section__title {
    padding-left: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .section__presentation .presentation__section__title {
    padding-left: 1rem;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .section__presentation .presentation__section__title {
    padding-left: 2rem;
    font-size: 2rem;
  }
}
.section__presentation .presentation__section__paragraph p {
  line-height: 1.5rem;
}
@media screen and (min-width: 1200px) {
  .section__presentation .presentation__section__paragraph p {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.section__presentation .presentation__skills .presentation__skills__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
}
.section__presentation .presentation__skills .presentation__skills__list .presentation__skills_element {
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, 0.05);
  padding: 8px 12px;
  border-radius: 3px;
  margin: 5px;
  font-size: 0.8rem;
  min-width: 90px;
}
.section__presentation .presentation__skills .presentation__skills__list .presentation__skills_element .skill-favorite {
  position: absolute;
  color: #f1c40fbb;
  font-size: 20px;
  top: calc(50% - 10px);
  left: -20px;
}
.section__presentation .presentation__skills .presentation__skills__list .presentation__skills_element .presentation__skills__element_tag {
  display: inline-block;
  height: 20px;
  padding: 0px 5px;
  background: rgba(141, 123, 172, 0.4);
  vertical-align: middle;
  border-radius: 3px;
  margin-top: 0.3rem;
  text-align: center;
  font-size: 0.6rem;
  line-height: 20px;
}
@media screen and (min-width: 375px) {
  .section__presentation .presentation__skills .presentation__skills__list .presentation__skills_element {
    min-width: 120px;
  }
}
@media screen and (min-width: 768px) {
  .section__presentation .presentation__skills .presentation__skills__list .presentation__skills_element {
    width: 100%;
    max-width: 250px;
    text-align: center;
    font-size: 1rem;
  }
}
.section__presentation .presentation__skills .presentation__skills__list li {
  width: 50%;
}
.section__presentation .presentation__skills .presentation__skills__list li:nth-child(even) {
  text-align: left;
}
.section__presentation .presentation__skills .presentation__skills__list li:nth-child(even) .skill-favorite {
  left: initial;
  right: -20px;
}
.section__presentation .presentation__skills .presentation__skills__list li:nth-child(odd) {
  text-align: right;
}

.section__title {
  padding: 0px 1rem 1.5rem 0.5rem;
  font-size: 1.3rem;
}
@media screen and (min-width: 375px) {
  .section__title {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .section__title {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 2.5rem;
  }
}

.section__title__span {
  padding-right: 1rem;
}

.section__paragraph {
  text-align: justify;
}
.section__paragraph p {
  padding-bottom: 1.2rem;
}

.project__element__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .project__element__container {
    flex-direction: row;
  }
}
.project__element__container .project__element {
  padding: 0 0.5rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .project__element__container .project__element {
    width: 50%;
  }
}
.project__element__container .project__element img {
  width: 100%;
}
.project__element__container .project__element .project__element__title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .project__element__container .project__element .project__element__title {
    padding: 1rem 0 1rem 2rem;
    text-align: left;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
.project__element__container .project__element .project__element__title .project__element__title_text {
  padding-bottom: 0.8rem;
}
@media screen and (min-width: 1200px) {
  .project__element__container .project__element .project__element__title .project__element__title_text h3 {
    font-size: 1.3rem;
  }
}
.project__element__container .project__element .project__element__title .project__element__title_text h3 {
  padding-bottom: 0.8rem;
}
.project__element__container .project__element .project__element__title .span__plus {
  display: flex;
  margin: 0 auto;
  justify-content: flex-end;
}
@media screen and (min-width: 1200px) {
  .project__element__container .project__element .project__element__title .span__plus {
    flex: 0 1 20%;
  }
}
.project__element__container .project__element .project__element__title .span__plus .fa-plus {
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.project__element__container .project__element .project__element__title .span__plus .fa-plus:hover {
  color: #8d7bac;
}
.project__element__container .project__element .project__element__title .span__plus .fa-plus--rotate {
  transform: rotate(0.5turn);
}
.project__element__container .project__element .project__element__infos--isshown {
  overflow: hidden;
  opacity: 1;
  height: 210px;
  transition: all 0.5s ease;
}
.project__element__container .project__element .project__element__infos--isshown p {
  padding: 2px 10px;
}
.project__element__container .project__element .project__element__infos--isshown p:first-of-type {
  padding-top: 15px;
}
@media screen and (min-width: 768px) {
  .project__element__container .project__element .project__element__infos--isshown {
    height: 200px;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .project__element__container .project__element .project__element__infos--isshown p {
    padding-left: 25px;
    padding-right: 25px;
  }
  .project__element__container .project__element .project__element__infos--isshown p:first-of-type {
    padding-top: 2px;
  }
}
.project__element__container .project__element .project__element__infos--ishidden {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}
.project__element__container .project__element .project__element__infos--ishidden p {
  padding: 2px 10px;
}
@media screen and (min-width: 1200px) {
  .project__element__container .project__element .project__element__infos--ishidden p {
    padding-left: 25px;
    padding-right: 25px;
  }
}

/** Links */
.project__element__links,
.section__contact__links,
.section__presentation__links {
  margin: 0.8rem auto;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.section__contact__links--mail {
  margin-bottom: 1rem;
}

.link--hover {
  display: inline-block;
  font-weight: bolder;
  text-align: center;
}
.link--hover:hover .link__icon--first, .link--hover:focus .link__icon--first {
  transform: translate3d(0, -105%, 0);
}
.link--hover:hover .link__icon--second, .link--hover:focus .link__icon--second {
  transform: translate3d(0, 105%, 0);
}
.link--hover .link__icon--first,
.link--hover .link__icon--second {
  display: inline-block;
  position: relative;
  transition: transform 0.3s;
}
.link--hover .link__icon--first::before,
.link--hover .link__icon--second::before {
  position: absolute;
  content: attr(data-hover);
}
.link--hover .link__icon--first {
  color: #fff;
}
.link--hover .link__icon--first::before {
  top: 105%;
  color: #8d7bac;
}
.link--hover .link__icon--second {
  color: #8d7bac;
}
.link--hover .link__icon--second::before {
  top: -105%;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .section__contact__links .link--hover,
.section__presentation__links .link--hover {
    font-size: 1.3rem;
  }
}

footer {
  text-align: center;
  font-weight: bolder;
  padding: 20px 10px;
}

/*# sourceMappingURL=style.css.map */
