

/* Header and nav rules */
header {
    position: relative;
    min-height: 100vh;
}

.header__nav>ul {
    display: flex;
    justify-content: space-around;
    padding: 20px 10px;

}

.header__nav>ul>li>a {
    font-family: 'Orbitron', sans-serif;
    font-size : 1.3rem;
    font-weight: bolder;
}
.header__info {
    position: relative;
    margin-top: 50vh;
    transform: translateY(-50%);
    text-align: center;

}

.header__info>h2 {
    font-size: 2em;
    padding: 20px 15px;

}
.header__info>h1 {

    font-size: 3.5rem;
    padding: 20px 15px;
    color: rgba(255, 255, 255, 0.9);
}

.span__rocket {
    font-size: 4.5rem;
    display: block;
    width: 4.5rem;
    margin: 0 auto;
    transition: all 0.5s;
  

}

  .span__rocket .fa-rocket {
        transition: all 0.5s;
        color: rgba(255, 255, 255, 0.966);
        animation: 3s cubic-bezier(.97, .1, .83, .67) infinite rocketanimation;

    }

@keyframes rocketanimation {
    from {
        opacity: 1;
        transform: rotate(135deg) translateY(0px);

    }

    25% {
        transform: rotate(135deg) translateY(0px);
    }

    75% {
        opacity: 0.9;
    }

    90% {
        opacity: 0;
        color: rgba(45, 2, 94, 0.384);
    }

    to {
        transform: translateY(200px) rotate(135deg);
        opacity: 0;

    }
}


.section {
    background: rgba(136, 136, 136, 0.05);
    /* box-shadow: 0 8px 32px 0 rgba(46, 46, 46, 0.37); */
    backdrop-filter: blur(8.0px);
    -webkit-backdrop-filter: blur(10.0px);
    /* border: 1px solid rgba(114, 1, 134, 0.18); */
    margin: 0rem auto 5rem auto;
    padding : 1rem 1.5rem;
}
.section__title {
    padding:0px 1rem 1.5rem 0.5rem;
}

.section__title__span{
    padding-right: 1.5rem;
}
.presentation>p {
    text-align: justify;
}
footer {
    text-align: center;
    font-weight: bolder;
    padding : 20px 10px;
}
img {
    width:100%;
}
.span__plus{
    display:flex;
    margin: 0 0 0 auto;
    width: 2rem;
    align-items: center;
}
.span__plus .fa-plus {
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
}
.project__element{
    padding:0;
}
.project__element__title h3
{
    
    padding-bottom: 1rem;
}

.project__element__title {
    display: flex;
    flex-flow: row wrap;
    padding: 1.5rem;
}
.project__element__infos {
    padding:1.5rem 1rem;
  
}
.project__element__infos>p {
    text-align: justify;
    padding-bottom: 1.2rem;
}
.project__element__links>a {
    display : block;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 1.2rem;
}
.project__element__links {
    margin: 0 auto;
}
.link__icon--first,
.link__icon--second{
    transition: transform .3s;
}
.link__icon--first::before{
    top: 105%;

}
.link__icon--second::before {
    padding-left: 0.5rem;
    bottom: 105%;

}
.project__element__links:hover .link__icon--first:hover{
    transform: translate3d(0, -105%, 0);

}

/*VERSION BUREAU DU CV*/
@media screen and (min-width: 980px) {}