/** variables*/

$title-font: 'Orbitron', sans-serif;
$main-font: 'Montserrat',sans-serif;
$main-color:#fff;
$violet:#8d7bac;
$transparency-color: rgba($main-color, $alpha: 0.8);

$breakpoints: (
    small:375px,
    medium:768px,
    large:1200px

);

/**Mixin*/

@mixin larger-mobile {
    @media screen and (min-width: map-get($breakpoints, small)){
        @content;
    }
}
@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, medium)){
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, large)){
        @content;
    }
}

@mixin even(){
    &:nth-child(even) {
      @content;
    }
}
@mixin odd(){
    &:nth-child(odd) {
      @content;
    }
}
/** General rules*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}
body {
    color: $main-color;
    font-family: $main-font;
}

h1,
h2,
h3,
footer p {
    font-family: $title-font;
}

a {
    text-decoration: none;
    color: $main-color;
    cursor: pointer;
}

li {
    list-style: none;
}

#vanta-background {
    background-image: url("../images/background/bg-small.png");
    background-size: cover;
    z-index: -5;
    top: 0;
    left:0;
    position: fixed;
    height: 100vh;
    width: 100%;
    @include desktop(){
    background-image: url("../images/background/bg-big.png");

    }
}

main,
section {
    position: relative;
}

.main-container {
    position: absolute;
    top: 0;
    width: 100%;

}

/* Header and nav rules */
header {
    position: relative;
    min-height: 100vh;

    .header__nav {

        ul {
            display: flex;
            justify-content: space-around;
            padding: 20px 10px;


            li {
                font-size: 1rem;
                font-weight: bolder;
                @include larger-mobile{
                    font-size: 1.3rem;
                }
                @include tablet {
                    font-size: 1.6rem;
                }
                a {
                    font-family: $title-font;

                }
            }
        }
    }

    .header__info {
        position: relative;
        margin-top: 50vh;
        transform: translateY(-50%);
        text-align: center;

        .header__info__main {

            font-size: 3rem;
            padding: 10px 15px;
            color: $transparency-color;
            @include larger-mobile{
                font-size: 3.5rem;
            }
            @include desktop{
                font-size: 4rem;
            }
        }
        .header__info__sub {
            font-size: 1.8em;
            padding: 20px 15px;
            color: $transparency-color;
            @include larger-mobile{
                font-size: 2.3rem;
            }
            @include desktop{
                font-size: 3rem;
            }
        }

    }
    .back__top {
        position:fixed;
        bottom:2.5rem;
        right:10px;
        font-size: 2rem;
        z-index:100;
        @include tablet {
            font-size: 3rem;
        }
        @include desktop {
            font-size: 4rem;
        }
    }

}


/** Main container*/

.section {
    background: rgba(136, 136, 136, 0.05);
    backdrop-filter: blur(8.0px);
    margin: 0rem auto 5rem auto;
    padding: 1rem 1.5rem;
    @include tablet {
        width: 80%;
        border-radius: 30px;
    }
    @include desktop{
        width: 70%;
        border-radius: 30px;
    }
    /* border: 1px solid rgba(114, 1, 134, 0.18); */
    /* box-shadow: 0 8px 32px 0 rgba(46, 46, 46, 0.37); */
}
.section__presentation {
    .presentation__section__title{
        font-size: 1.3rem;
        padding-left:0.8rem;

        
        @include larger-mobile {
            padding-left:1rem;
        }
        @include tablet {
            padding-left:1rem;
            font-size: 1.5rem;
        }
        @include desktop {
            padding-left:2rem;
            font-size: 2rem;
        }
    }
    .presentation__section__paragraph{
        p{
            line-height: 1.5rem;
            font-weight: 700;
            @include desktop {
                padding-left:2rem;
                padding-right:2rem;
                line-height: 1.7rem;
                font-size: 1.2rem;
            }

        }
    }

    .presentation__formation {
        display : flex;
        flex-direction: column;
        @include tablet {
            flex-direction: row;
            justify-content: space-around;
        }

        .formation__element {
            text-align: center;
            &:first-child {
                padding-bottom: 1rem;
            }
            h4 {
                padding : 0.5rem 0;
            }

            div {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                img {
                    width :40%;
                    
                }
            }
            @include tablet {
                width:50%;
                img {
                    width: 50%;
                }
            }
        }
    }
    .presentation__skills{
        
        .presentation__skills__list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 0 auto;
            padding: 0;
            
            .presentation__skills_element{
                
                position: relative;
                display: inline-block;
                background: rgba($main-color, $alpha: 0.05);
                padding: 8px 12px;
                border-radius: 3px;
                margin: 5px;
                font-size: 0.8rem;
                min-width: 90px;

            
                .skill-favorite {
                    position: absolute;
                    color: #f1c40fbb;
                    font-size: 20px;
                    top: calc(50% - 10px);
                    left: -20px;
                }
                
                .presentation__skills__element_name {
                    font-weight: 800;
                }
                .presentation__skills__element_tag{
                    display: inline-block;
                    height: 20px;
                    padding: 0px 5px;
                    background: rgba($violet, $alpha: 0.4);
                    vertical-align: middle;
                    border-radius: 3px;
                    margin-top: 0.3rem;
                    text-align: center;
                    font-size: 0.6rem;
                    line-height: 20px;
                }

                @include larger-mobile(){
                    min-width:120px;
                }

                @include tablet(){
                    width: 100%;
                    max-width: 250px;
                    text-align: center;
                    font-size: 1rem;

                }
            }
    
            li{
                width: 50%;
                @include even(){
                    text-align: left;
                    .skill-favorite {
                        left: initial;
                        right: -20px;
                    
                    }
                }

                @include odd(){
                    text-align: right;
                 
                }

            }
        }
    }
}
.section__title {
    padding: 1.5rem 1rem 1.5rem 0.5rem;
    font-size:1.3rem;
    @include larger-mobile {
        font-size: 1.5rem;
    }
    @include tablet {
        font-size: 2rem;
    }
    @include desktop {
        font-size: 2.5rem;
    }
}

.section__title__span {
    padding-right: 1rem;
}

.section__paragraph {
    text-align: left;

    p {
        padding-bottom: 1.2rem;

    }
}

.project__element__container {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    @include tablet {
        flex-direction: row;
    }
    .project__element {
        padding: 0 0.5rem;
        margin-bottom: 2rem;
        @include tablet {
            width:50%;
        }
        img {
            width: 100%;
        }
    
        .project__element__title {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            text-align: center;
            align-items:center;
            
            
            @include desktop{
                padding:1rem 0 1rem 2rem;

                text-align: left;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
            }
          
            .project__element__title_text{
                padding-bottom: 0.8rem;

                @include desktop() {

                    h3 {
                        font-size: 1.3rem;
                    }

                }
                h3 {
                    padding-bottom: 0.8rem;

                }

            }
            .span__plus {
                display: flex;
                margin: 0  auto;
                justify-content: flex-end;
              
                @include desktop(){
                    flex : 0 1 20%;
                   
                }
                .fa-plus {
                    font-size: 2.5rem;
                    color: $main-color;
                    text-align: center;
                    cursor: pointer;
                    transition:all 0.3s ease;

                    &:hover{
                       color: $violet; 
                    }
                }
                .fa-plus--rotate{
                    transform: rotate(0.5turn);
    
                }
            }
        }
    
        .project__element__infos--isshown {
            overflow: hidden;
            opacity:1;
            height: 300px;
            transition: all 0.5s ease;
            
            p {
                padding : 2px 10px;
                &:first-of-type {
                    padding-top:15px;
                }
            }
            @include tablet {
                height: 200px;
                text-align: left;
            }
            @include desktop(){
                
                p {

                    padding-left: 25px;
                    padding-right: 25px;
                    &:first-of-type {
                        padding-top:2px;
                    }
                }
            }
        }
    
        .project__element__infos--ishidden {
            opacity : 0;
            height:0;
            overflow: hidden;
            transition: all 0.5s ease;
            p {
                padding : 2px 10px;
                @include desktop(){
                    padding-left: 25px;
                    padding-right: 25px;

                }
            }
        
        }
    }
}

/** Links */ 
.project__element__links,
.section__contact__links,
.section__presentation__links {
    margin: 0.8rem auto;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    
}
.section__contact__links--mail {
    margin-bottom:1rem;
}
.link--hover {
    display: inline-block;
    font-weight: bolder;
    text-align: center;
  
    &:hover,
    &:focus {
      .link__icon--first {
        transform: translate3d(0, -105%, 0);
      }
  
      .link__icon--second {
        transform: translate3d(0, 105%, 0);
      }
    }
    .link__icon--first,
    .link__icon--second {
        display: inline-block;
        position: relative;
        transition: transform .3s;

        &::before {
            position: absolute;
            content: attr(data-hover);
        }
    }

    .link__icon--first{
        color:$main-color;
        &::before {
            top: 105%;
            color:$violet;
        }
    }
    .link__icon--second{
        color:$violet;
        &::before {
            top: -105%;
            color: $main-color;
        }
    }
}
.section__contact__links,
.section__presentation__links {
    .link--hover {
        @include tablet {
            font-size: 1.3rem;
        }
    }
}
footer {
    text-align: center;
    font-weight: bolder;
    padding: 20px 10px;
}