* {
    font-family: 'Open Sans', sans-serif;

    margin: 0;
    padding: 0;
    text-align: justify;
    box-sizing: border-box;
}

body {

    color: #fff;

}

a {
    text-decoration: none;
    color: #fff;

}

li {
    list-style: none;
}

.container {
    z-index: -1;
    min-height: 100vh;
    height: 100%;
}

main,
section {
    position: relative;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;

}

nav>ul {
    display: flex;
    justify-content: space-around;
    padding: 10px 5px;

}

nav>ul>li>a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

main {
    background: rgba(177, 177, 177, 0.05);
    box-shadow: 0 8px 32px 0 rgba(46, 46, 46, 0.37);
    backdrop-filter: blur(10.0px);
    -webkit-backdrop-filter: blur(10.0px);
    border-radius: 10px;
    border: 1px solid rgba(114, 1, 134, 0.18);

}

section {
    width: 90%;

    margin: 0 auto;
}

h1,
h2,
footer p {
    font-family: 'Orbitron', sans-serif;
}


h1 {
    padding: 20% 5%;
    font-size: 3.5rem;
    text-align: center;
    color:rgba(255, 255, 255, 0.9);
}

h2 {
    font-size: 2em;
    padding: 20% 5%;

    text-align: center;
    padding: 5px;
}
.icon{
    font-style: 50%;
    text-align: center;
}

/*VERSION BUREAU DU CV*/
@media screen and (min-width: 980px) {}